################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
ColorzCore/bin
ColorzCore/obj
ColorzCore/.vs
*.exe
*.cache
